<div class="container-fluid">
  <div class="p-5">

    <div class="btn-group p-3">
      <label class="btn btn-primary" ngbButtonLabel>
        <a ngbButton (click)="basicLogin()" ><span class="badge">Basic Login</span></a><br>
      </label>
    </div>

    <div class="btn-group p-3">
      <label class="btn btn-info" ngbButtonLabel>
        <a ngbButton (click)="rsaLogin()" ><span class="badge">RSA Login</span></a><br>
      </label>
    </div>

    <div class="btn-group p-3">
      <label class="btn btn-success" ngbButtonLabel>
        <a ngbButton (click)="rsaAdvancedLogin()" ><span class="badge">RSA
        Advanced Login</span></a><br>
      </label>
    </div>
  </div>
</div>
