<div>
  <div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton (click)="basicLogin()" /> Basic Login
    </label>
  </div>

  <div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton (click)="rsaLogin()" /> RSA Login
    </label>
  </div>

  <div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton (click)="rsaAdvancedLogin()" /> RSA
      Advanced Login
    </label>
  </div>
</div>
